Options -Indexes
DirectoryIndex index.php

RewriteEngine on
#Forbid access to git related files.
RewriteRule ^(.*/)?\.git+ - [F,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
